
body{
    background-color:#e6e6e6;
}
h3 {
     color:#2eb8b8;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     font-size: 30px;
}


img-main {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
} 


img-small{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.container-fluid{
  background-color:#e6e6e6;
  padding: 60px;
}

.navbar {
    padding-left: 50px;
    padding-bottom: 0px;
    padding-top:0px;
}

.navbar-brand{
    background-color:#2eb8b8;
    font-family: times new roman;
    font-weight: bold;
    color: #ffff;
    padding: 20px;
}
 
.background{
    padding: 60px;
}

.white-background {
    background-color: #ffff;
}

.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }

.footer{
    background-color: #737373;
    text-align: center; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #0BADA6;
    color: white; 
    min-height: 55px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
    }
}

.teal{
    background-color:#2eb8b8;
    padding: 5px;
    margin-top: 70px;
}

.grey{
    padding-left: 10px;  
}
.footer-text{
    color: #ffff;
    display: center;
    font-size: 10px;
}

.comparison-text{
    color:#2eb8b8;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media(max-width: 990px){
    .navbar-expand-lg{
    background-color: #0BADA6 !important;
    }
    .navbar{
        max-height: none; 
        padding: inherit;
    }
    .navbar div{
        margin: inherit; 
        background-color: white;  
    }
    .navbar-brand{
        padding: 10px !important; 
    }
