
body{
    background-color:#e6e6e6;
}
h3 {
     color:#2eb8b8;
     font-family: sans-serif;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

img-small{
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.container-fluid{
  background-color:#e6e6e6;
  padding: 60px;
}

.navbar {
    padding-left: 50px;
    padding-bottom: 0px;
    padding-top:0px;
}

.navbar-brand{
    background-color:#2eb8b8;
    font-family: times new roman;
    font-weight: bold;
    color: #ffff;
    padding: 20px;
}
 
.background{
    padding: 60px;
}

.white-background {
    background-color: #ffff;
}

.footer{
    background-color: #737373;
    text-align: center;
}

.teal{
    background-color:#2eb8b8;
    padding: 5px;
    margin-top: 60px;
}

.grey{
    padding-left: 10px;  
}
.footer-text{
    color: #ffff;
    display: center;
    font-size: 10px;
}
/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: rgb(12, 173, 167);
}

  .navbar-brand {
                 background-color: white;
                 font-family: times new roman;
                 font-weight: bold;
                 color: rgb(12, 173, 167);
}